    <style>
        body {
            font-family: calibri, sans-serif;
            background-color: #f2f6fa;
            color: #333;

        }

/* Centraliza o container do formulário */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Alinhar verticalmente */
    gap: 20px; /* Espaçamento entre os elementos */


/* Estiliza o Título Geral */

        h1 {
            text-align: center;
            color: #004080;
            
        }

.titulo-e-imagem {
  display: flex;
  align-items: center; /* Alinhar verticalmente */
  justify-content: center; /* Alinhar horizontalmente */  border: 2px solid #004080;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.titulo {
  margin-right: 40px; /* Espaço entre o texto e a imagem */
}

.imagem {
  width: auto;
  height: 70px;
}


/* Estiliza o formulário para centralizar e justificar */

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui o espaço igualmente */
    align-items: baseline; /* Alinha verticalmente à base */
    gap: 5px;
    

/* Estiliza os rótulos */

        label {
            display: block;
            font-weight: bold;
            font-size: 13px;
            color: #004080;
            margin-bottom: 4px;
                    }

.label-inferior {
    font-weight: normal;
    font-size: 12px; /* Tamanho da fonte */
    color: #004080; /* Cor do texto */
    margin-top: 2px; /* Margem superior */
    display: block; /* Exibir como bloco */
}

.label-inferior-pgto {
    
    font-size: 14px; /* Tamanho da fonte */
    color: #004080; /* Cor do texto */
    margin-top: 6px; /* Margem superior */
    display: block; /* Exibir como bloco */
   }

/* Estiliza os títulos das sessões */

        .section-title {
            background-color: #004080;
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
            color: #ffffff;
            font-weight: bold;
            text-align: center;
        }

 .section-diviser {
            background-color: #F8F9FA;
            width: 100%;
            padding: 1px;
            border: 1px solid #E2E3E3;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
            color: #004080;
            font-weight: bold;
            text-align: center;
            font-size: 14px;
        }


/* Caixas de Entrada de Texto */
       
input, select {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    text-align: left; /* Texto alinhado à esquerda */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    }


/* Centralizar conteúdo caixas de entrada de texto */

.styled-input {    
    text-align: center;
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
   }

/* Centralizar conteúdo e estilizar Caixa Valor Total */

.styled-input-valortotal {    
    text-align: center;
    font-weight: bold;
    background-color: #e8f3ff;
    border: 1px solid #004080;
   }
        

 /* Dimensões Caixas de Texto - Grupos de Formulário */            
         
        .form-group20 {
            width: 20%
        }

        .form-group30 {
            width: calc(35% - 20px); /* A largura será x% menos x pixels */

        }

        .form-group45 {
            width: 45%;
        }

        .form-group60 {
            width: calc(60% - 20px); /* A largura será x% menos x pixels */
        }

        .form-group.full-width {
            width: 100%;
        }

        button {
            background-color: #004080;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0066cc;
        }


/* Alerta de Erro */

.error-message {
    color: red;
    font-size: 11px;
    margin-top: 2px;
    display: none;
}

/* Acordion Termos & Condições */

   .accordion {
            cursor: pointer;
            padding: 5px;
            width: 100%;
            text-align: left;
            border: 1px solid #004080;
            background-color: #fff;
            color: #004080;
        }

        .active, .accordion:hover {
            background-color: #F2F6FA;
        }

        .accordion:after {
            content: '\002B';
            font-size: 13px;
            color: #777;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        .panel {
            padding: 0 15px;
            display: none;
            background-color: white;
            overflow: hidden;
        }

        .panel-content {
           color: #333; /* Cor do texto */
           font-size: 14px; /* Tamanho da fonte */
           padding: 1px; /* Espaçamento interno */
           margin: 2px;
    }


/* Área de Pagamento */

.form-group-pgto-check {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; /* Alinhar verticalmente */
    
}

.form-group-pgto {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Alinhar verticalmente */
    text-align: center;

}

.moldura {
  
  background-color: #E8F3FF;
  border: 0px solid #004080; /* Borda azul */
  padding: 3px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  text-align: center; /* Centralizar o texto */
  width: 100%
 
}



/* Área de Upload */

        .upload-container {
            display: flex;
            justify-content: space-around;
            gap: 10px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            border: 1px solid #ddd;
            width: 100%;
        }

        .upload-container label {
           display: block;
           margin-bottom: 5px;
           font-weight: bold;
        }


/* Área de Configuração */

.configuracao {
    margin-top: 20px;
}

#configuracaoArea, #areaProtegida {
    margin-top: 10px;
}

.styled-input-config {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 5px;
        
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* TERMOS E CONDIÇÕES */

.checkbox-container {
            display: flex;
            align-items: center;
            width: 5%;
        }
        .checkbox-container input[type="checkbox"] {
            margin-right: 5px;
            flex-shrink: 1; /* Para garantir que o checkbox não diminua */
        }
        .checkbox-container label {
            flex-grow: 1; /* Faz o label ocupar o espaço restante */
            white-space: nowrap; /* Garante que o texto não quebre em várias linhas */
        }  

     
    </style>